header(class="header")

  .container 
    .row.align-items-center 
      .col-2 
        .inner-logo 
          a(href="/")
            img(src="/client/img/LOGO.jpg" alt="")
      
      .col-10 
        .inner-menu 
          ul  
            li
              a(href="/") Trang chủ
            li
             a(href="/topics") Chủ đề